RewriteEngine On

############   REECRITURE DES PAGES MICHEL DRUCKER GENERATOR  ############################
RewriteRule ^liste\.html$			liste.php [QSA]
RewriteRule ^(.*)\.html$			index.php?hash=$1 [QSA,L]