html, body{
	height: 100%;
}

body{
	margin: 0;
}

input{
	margin:20px;
	width:270px;
	height:35px;
	cursor:pointer;
	font-size: 1.1em;
}

#main-wrapper{
	height:100%;
}

#iphone-wrapper{
	height:100%;
	margin: 0 auto 0 auto;
	background-image:url("iphone-canvas.png");
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center top;
	position: relative;
}

#couv{
	width: 88%;
	left: 6%;
	height:68%;
	top:16%;
	background-size: contain;
	background-repeat: no-repeat;	
	position: relative;
}

h1{
	font-family: 'Pacifico', cursive;
	font-style:italic;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:#ff344c;
	font-size:40px;
	margin:0;
	padding:0;
	text-align:right;
	box-sizing: border-box;
	padding:0 10px 0 0;
}

.big_h1{
	font-family: 'Days One', sans-serif;
	display:block;
	font-size:1.7em;
	text-align:center;
}

.une{
	width:600px;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
	position:absolute;
	top:930px;
	font-family: 'Abril Fatface', cursive;
	font-size:2.4em;
	color:#fff449;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.une h3{
	margin:0;
	padding:0;
}

.quiz{
	width:380px;
	position:relative;
	top:35px;
	left:10px;
	font-family: 'Montserrat', sans-serif;
	font-style:italic;	
	font-size:1.7em;
	color:white;
	text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
	text-align:left;
}

.quiz h3{
	margin:0;
	padding:0;
	color:#37b7e6;
}

.article{
	font-family: 'Montserrat', sans-serif;
	font-size:1.8em;
	text-align:left;
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.article h3{
	margin:0;
	padding:0;
	color:#fff449;
}


#article1{
	width:250px;
	position:relative;
	top:100px;
	left:10px;
}

#article2{
	width:190px;
	position:relative;
	top:0px;
	left:400px;
	text-align:right;
}

@media only screen and (max-device-width: 480px) {
	#iphone-wrapper{
		background: none;
	}
	#couv{
        height: 100vh;
        width: 100vw;
        position:fixed;
        top:0;
        left:0;
	}
}